label {
    display: inline-block;
    margin-bottom: 5px;
    width: 180px;
    margin-left: 50px;
}

.form-item{
    margin-top: 20px;
    padding-bottom: 10px;
    position: relative;
}

.form-item input,textarea {
    width: 300px;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
}

.form-item input:focus {
    outline: 0;
    border-color: #777;
}

.success input {
    border-color: #2ecc71;
}

.error input {
    border-color: #e74c3c;
}

.form-item small {
    color: #e74c3c;
    visibility: hidden;
}

.error small {
    visibility: visible;
}

#createOrder button {
    background-color: rgba(68, 160, 179, .5);
    border: 2px solid rgba(68, 160, 179, .5);
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin: 20px 40px 20px 54px;
    width: 500px;
}