#table,
table {
    width: 100%;
    font-size: 14px;
    border: 1px solid #eee;
    /*cellpadding: 0;*/
    /*cellspacing: 0;*/
}

table tbody {
    display: block;
    height: 70vh;
    overflow-y: scroll;
}

table thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table thead {
    width: calc(100% - 1em)
}

table th {
    background: #f5f5f5;
    padding: 10px;
    text-align: left;
}

table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

table td span {
    margin: 0 10px;
    cursor: pointer;
}

tr:hover {
    background-color: #ecf5ff;
}

button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    background-color: #409eff;
    border: 1px solid #409eff;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 4px;
}

button:focus,
button:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}

input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    margin-right: 15px;
}

.title span {
    float: right;
    cursor: pointer;
}

.caret-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 34px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;
}

.sort-caret.ascending {
    border-bottom-color: #c0c4cc;
    top: 5px;
}

.sort-caret {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    position: absolute;
    left: 7px;
}

.sort-caret.descending {
    border-top-color: #c0c4cc;
    bottom: 7px;
}