.create-link {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 11px 15px;
    color: #F9F9F9;
    display: inline-block;
}

.find-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    background-color: #409eff;
    border: 1px solid #409eff;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 4px;
}

.find-button:focus, button:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}
#create-button {
    float: right;
    margin-right: 30px;
}
