.button-box {
    padding: 10px 30px;
}

#create-button {
    float: right;
}

.pageSelectBox {
    padding: 10px 30px;
    overflow-x: scroll;
    text-align: right;
}

.pageSelectBox select {
    appearance: none;
    -webkit-appearance: none;
}

.create-box img {
    display: inline-block;
    width: 16px;
}

.create-box label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-top: 10px;
}

.show-box {
    text-align: left;
    display: inline-block;
    width: 200px;
    margin: 5px;
}

.show-box input {
    height: 25px;
    width: 150px;
}

input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.show-box img {
    margin-left: 10px;
}